/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@import "bootstrap/scss/bootstrap-grid";

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.container {
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

.page-header {
  background-color: red;
}

.page-main {
  background-color: blue;
}

.page-footer {
  background-color: green;
}

.button {
  padding: 20px;
  margin: 20px;
  background-color: red;
  transition: background-color 0.5s 0.2s ease-in-out, color 0.2s;
}

.button:hover {
  background-color: blue;
  color: orange;
  transform: scale(1.2px);
}
